<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/fragments/dashboardLayout.html}">
    <head>

    </head>
      <body>
        <section class="row" layout:fragment="content">
            <div class="col-6 offset-3 mt-4">
                <div class="alert alert-danger text-center" role="alert">
                    Rất tiếc, chức năng này chỉ dành cho quản trị viên!
                </div>
            </div>
        </section>
      </body>
</html>