<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/fragments/dashboardLayout.html}">
    <head>

    </head>
      <body>
        <section class="row" layout:fragment="content">
          <div class="col-6 offset-3 mt-4">
            <form action="/admin/dsloptinchi/saveOrUpdate" method="post" th:object="${loptinchi}">
              <div class="card">
                <div class="card-header">
                  <h2 th:text="${loptinchi.isEdit? 'Sửa lớp tín chỉ':'Thêm lớp tín chỉ'}">Thêm lớp tín chỉ</h2>
                </div>
                <div class="card-body">
                  <!-- <div class="form-group">
                    <label for="idLTC">Mã lớp tín chỉ:</label>
                    <input type="hidden" th:field="*{isEdit}">
                    <input type="text" class="form-control" th:field="*{idLTC}" aria-describedby="lopTinChỉHid" placeholder="Mã lớp tín chỉ được tạo tự động" readonly>
                  </div> -->
                  <div class="form-group">
                    <label for="nienKhoa">Niên khóa: </label>
                    <input type="text" class="form-control" id="nienKhoa" th:field="*{nienKhoa}" aria-describedby="nameHid" placeholder="Niên khóa">
                    <small th:errors="*{nienKhoa}" id="nienKhoaHid" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="hocKy">Học kỳ: </label>
                    <select class="form-control" name="hocKy" id="hocKy" th:field="*{hocKy}">
                      <option value="1">Học kỳ 1</option>
                      <option value="2">Học kỳ 2</option>
                      <option value="3">Học kỳ 3</option>
                      <option value="4">Học kỳ 4</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="soSVToiThieu">Số sinh viên tối thiểu: </label>
                    <input type="number" class="form-control" name="soSVToiThieu" id="soSVToiThieu" th:field="*{soSVToiThieu}" aria-describedby="yearHid" placeholder="Số sinh viên tối thiểu">
                    <small th:errors="*{soSVToiThieu}" id="soSVToiThieuHid" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="nhom">Nhóm: </label>
                    <input type="number" class="form-control" name="nhom" id="nhom" th:field="*{nhom}" aria-describedby="nhomHid" placeholder="Nhóm">
                    <small th:errors="*{nhom}" id="nhomHid" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="idMonHoc">Môn học:</label>
                    <select class="form-control" name="idMonHoc" id="idMonHoc" th:field="*{idMonHoc}">
                      <option th:each="item: ${dsmonhoc}" th:value="${item.idMonHoc}" th:text="${item.tenMonHoc}" 
                              th:select="${item.idMonHoc == loptinchi.idMonHoc}"> Tên môn học</option>
                    </select>
                    <small th:errors="*{idMonHoc}" id="monHocHid" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="idGiangVien">Giảng viên: </label>
                    <select class="form-control" name="idGiangVien" id="idGiangVien" th:field="*{idGiangVien}">
                      <option th:each="item: ${dsgiangvien}" th:value="${item.idGiangVien}" th:text="${item.ten}" 
                              th:select="${item.idGiangVien == loptinchi.idGiangVien}"> Tên giảng viên</option>
                    </select>
                    <small th:errors="*{idGiangVien}" id="giangVienHid" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="idKhoa">Khoa: </label>
                    <select class="form-control" name="idKhoa" id="idKhoa" th:field="*{idKhoa}">
                      <option th:each="item: ${dskhoa}" th:value="${item.idKhoa}" th:text="${item.tenKhoa}" 
                              th:select="${item.idKhoa == loptinchi.idKhoa}"> Tên khoa</option>
                    </select>
                    <small th:errors="*{idKhoa}" id="khoaHid" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="huyLop">Hủy lớp:</label>
                    <select class="form-control" name="huyLop" id="huyLop" th:field="*{huyLop}">
                      <option value="0">Mở</option>
                      <option value="1">Hủy</option>
                    </select>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <button type="reset" class="btn btn-secondary"><i class="fas fa-backspace"></i> Đặt lại</button>
                  <a th:href="@{/admin/dsloptinchi}" class="btn btn-success"><i class="fa fa-list" aria-hidden="true"></i> Xem danh sách</a>
                  <button class="btn btn-primary"><i class="fas fa-save"></i>
                    <span th:if="${loptinchi.isEdit}"> Cập nhật</span>
                    <span th:unless="${loptinchi.isEdit}"> Lưu</span>
                </button>
                </div>
              </div>
            </form>
        </div>
        </section>
      </body>
</html>