<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/fragments/dashboardLayout.html}">
    <head>

    </head>
      <body>
        <section class="row" layout:fragment="content">
          <div class="col-6 offset-3 mt-4">
            <form action="/admin/dsgiangvien/saveOrUpdate" method="post" th:object="${giangvien}">
              <div class="card">
                  <div class="card-header">
                      <h2 th:text="${giangvien.isEdit? 'Sửa giảng viên':'Thêm giảng viên'}">Thêm giảng viên</h2>
                  </div>
                  <div class="card-body">
                    <input type="hidden" th:field="*{isEdit}">
                      <div class="form-group">
                        <label for="idGiangVien">Mã giảng viên: </label>
                        <input type="text" class="form-control" name="idGiangVien" id="idGiangVien" th:field="*{idGiangVien}" aria-describedby="giangVienHid" placeholder="Mã giảng viên">
                        <small th:errors="*{idGiangVien}" id="giangVienHid" class="form-text text-muted"></small>
                      </div>
                      <div class="form-group">
                        <label for="ho">Họ giảng viên: </label>
                        <input type="text" class="form-control" name="name" id="ho" th:field="*{ho}" aria-describedby="nameHid" placeholder="Họ giảng viên">
                        <small th:errors="*{ho}" id="hoHid" class="form-text text-muted"></small>
                      </div>
                      <div class="form-group">
                        <label for="ten">Tên giảng viên: </label>
                        <input type="text" class="form-control" name="name" id="ten" th:field="*{ten}" aria-describedby="nameHid" placeholder="Tên giảng viên">
                        <small th:errors="*{ten}" id="tenHid" class="form-text text-muted"></small>
                      </div>
                      <div class="form-group">
                        <label for="hocVi">Học vị: </label>
                        <input type="text" class="form-control" name="name" id="hocVi" th:field="*{hocVi}" aria-describedby="nameHid" placeholder="Học vị">
                        <small th:errors="*{hocVi}" id="hocViHid" class="form-text text-muted"></small>
                      </div>
                      <div class="form-group">
                        <label for="hocHam">Học hàm: </label>
                        <input type="text" class="form-control" name="name" id="hocHam" th:field="*{hocHam}" aria-describedby="nameHid" placeholder="Học hàm">
                        <small th:errors="*{hocHam}" id="hocHamHid" class="form-text text-muted"></small>
                      </div>
                      <div class="form-group">
                        <label for="chuyenMon">Chuyên môn: </label>
                        <input type="text" class="form-control" name="name" id="chuyenMon" th:field="*{chuyenMon}" aria-describedby="nameHid" placeholder="Chuyên môn">
                        <small th:errors="*{chuyenMon}" id="chuyenMonHid" class="form-text text-muted"></small>
                      </div>
                      <div class="form-group">
                        <label for="idKhoa">Khoa:</label>
                        <select class="form-control" name="idKhoa" id="idKhoa" th:field="*{idKhoa}">
                          <option th:each="item: ${dskhoa}" th:value="${item.idKhoa}" th:text="${item.tenKhoa}" 
                                  th:select="${item.idKhoa == giangvien.idKhoa}"> Khoa</option>
                        </select>
                        <small th:errors="*{idKhoa}" id="KhoaHid" class="form-text text-muted"></small>
                      </div>
                      <div class="form-group">
                        <label for="idTaiKhoan">Mã tài khoản:</label>
                        <select class="form-control" name="idTaiKhoan" id="idTaiKhoan" th:field="*{idTaiKhoan}">
                          <option th:each="item: ${dstaikhoan}" th:value="${item.idTaiKhoan}" th:text="${item.username}" 
                                  th:select="${item.idTaiKhoan == giangvien.idTaiKhoan}">Mã tài khoản</option>
                        </select>
                        <small th:errors="*{idTaiKhoan}" id="taikhoanHid" class="form-text text-muted"></small>
                      </div>
                  </div>
                  <div class="card-footer text-muted">
                      <button type="reset" class="btn btn-secondary"><i class="fas fa-backspace"></i> Đặt lại</button>
                      <a th:href="@{/admin/dsgiangvien}" class="btn btn-success"><i class="fa fa-list" aria-hidden="true"></i> Xem danh sách</a>
                      <button class="btn btn-primary"><i class="fas fa-save"></i>
                        <span th:if="${giangvien.isEdit}"> Cập nhật</span>
                        <span th:unless="${giangvien.isEdit}"> Lưu</span>
                      </button>
                  </div>
              </div>
            </form>
        </div>
        </section>
      </body>
</html>