<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>

</head>
  <body>
    <div th:fragment="nav">
      <nav class="col navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">PTITHCM</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dskhoa/search}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUTHOR')">Khoa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dsmonhoc/search}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUTHOR')">Môn học</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dslop/search}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUTHOR')">Lớp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dssinhvien/search}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUTHOR')">Sinh viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dsgiangvien/search}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUTHOR')">Giảng viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dstaikhoan/search}" sec:authorize="hasAnyRole('ROLE_ADMIN')">Tài khoản</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dsdangky/search}">Xem điểm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/dsloptinchi/search}">Lớp tín chỉ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span sec:authorize="isAnonymous()">Khách</span> [[${#httpServletRequest.remoteUser}]]
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="/login" sec:authorize="isAnonymous()">Đăng nhập</a>
                <a class="dropdown-item" href="/changePassword">Đổi mật khẩu</a>
              </div>
            </li>
            <li class="nav-item mt-2">
              <form sec:authorize ="isAuthenticated()" action="" th:action="@{/logout}" method="post">
                <input type="submit" value="Đăng xuất"/>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>